/* HEADER */
.lista li {
   display: inline-table;
   color: black;
   margin-left: 10px;
   margin-right: 10px;
   padding-left: 10px;
   margin-top: 60px;
}



li a {
   color: gray;
   font-size: 20px;
   font-family: Arial;
   text-decoration: none;
}
/* FIN HEADER */



/* MENÚ */






/* FIN MENÚ */